<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="test/css" href="./stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="test/css" href="./stylesheets/css/custom.css">
	  <title>Chester</title>
	</head>
	<body class="middle">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 onclick="location.href='./pdfs/ChesterSchofieldResume.pdf'" class="text-center resume">Resume</h1>
					<h1 onclick="location.href='https://github.com/chester357'" class="text-center code">{ }</h1>
					<h1 onclick="location.href='./design'" class="text-center design">Design</h1>
				</div>
			</div>
		</div>
	</body>
</html>
