<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="test/css" href="./stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="test/css" href="./stylesheets/css/custom.css">
	  <title>Chester</title>
	</head>
	<body class="middle">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 onclick="location.href='./pdfs/ChesterSchofieldResume.pdf'" class="text-center resume pointer">
						Resume
					</h1>
					<h1 onclick="location.href='./projects'" class="text-center code pointer">
						{ }
					</h1>
					<h1 onclick="location.href='./design'" class="text-center design pointer">
						Design
					</h1>
				</div>
			</div>
		</div>
	</body>
</html>
