body {
  background-color: black;
}

h1.resume {
  color: #66A2D4;
  font-size: 6em;
}

h1.code {
  color: #00456F;
  font-size: 8em;
  padding: 4vh;
}

h1.design {
  color: #E23234;
  font-size: 6em;
}

h1.inTheLoop {
  font-size: 4em;
  color: #357ddb;
}

h1.weatherTodo {
  font-size: 4em;
  color: #ff9a0d;
}

h1.vocales {
  font-size: 4em;
  color: #a70fff;
}

h1.allApps {
  font-size: 4em;
  color: #cccccc;
}

h1.appTitle {
  font-size: 4em;
  color: #cccccc;
  text-align: center;
}

h1.projectTitle {
  font-size: 3em;
  color: #E23234;
}

h1.projectName {
  padding-left: 3vw;
  padding-top: 3vh;
  font-size: 3em;
  color: #00456F;
}

ul.projectDescription {
  padding-left: 9vw;
  font-size: 1.5em;
  color: white;
  margin-right: 12vw;
}

.middle {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.resumepdf {
  min-width: 100vw;
  min-height: 100vh;
}

.phoneImage {
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  /*width: 500vw;
  height: 70vh;*/
}
