<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/custom.css">
	  <title>Chester</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
        <div class="col-md-12">
          <br><br>
					<h1 class="allApps pointer" onclick="location.href='./all.html'">
						All
					</h1>
					<br><br>
					<h1 class="inTheLoop pointer" onclick="location.href='./intheloop.html'">
						inTheLoop - iOS App
					</h1>
					<br><br>
					<h1 class="weatherTodo pointer" onclick="location.href='./weathertodo.html'">
						Weather Todo - iOS App
					</h1>
					<br><br>
					<h1 class="vocales pointer">
						Volcales - iOS App
					</h1>
					<br>
        </div>
			</div>
		</div>
	</body>
</html>
