<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/custom.css">
	  <title>Chester</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<br><h1 class="appTitle"> inTheLoop - iOS App </h1><br>
				<div class="col-md-6 col-sm-12">
					<div class="row">
						<div class="col-md-6 col-sm-6"><img src="../images/ITL-Home.png" class="img-responsive phoneImage"></div>
		        <div class="col-md-6 col-sm-6"><img src="../images/ITL-Search.png" class="img-responsive phoneImage"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="row">
						<div class="col-md-6 col-sm-6"><img src="../images/ITL-SearchResults.png" class="img-responsive phoneImage"></div>
		        <div class="col-md-6 col-sm-6"><img src="../images/ITL-SingleEvent.png" class="img-responsive phoneImage"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="row">
						<div class="col-md-6 col-sm-6"><img src="../images/ITL-Followers.png" class="img-responsive phoneImage"></div>
		        <div class="col-md-6 col-sm-6"><img src="../images/ITL-Following.png" class="img-responsive phoneImage"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
