<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/custom.css">
	  <title>Chester</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 col-sm-12">
          <h1 class="projectTitle">Projects</h1>
          <h1 class="projectName">inTheloop</h1>
          <ul class="projectDescription">
            <li>Starting build this company around 2012, now I'm finally in the production
            phase of the project.</li>
            <li>Currently I have built a backend to support my future mobile applications.
            I plan on have a full functioning iOS app by June, 2015</li>
            <li>I'm still in the process of building my founding team, so the roles I
            have played so far include: Backend Developer, iOS Developer, UI/Graphic Designer,
            and whatever there's a need for!</li>
            <li>Tools: C#, Visual Studio, GitHub, Azure Cloud Services, SQL,
              SQL Managent Studio, Trello, DHC, Justinmind, Pixlr</li>
              <li>Repository: Private</li>
          </ul>
          <h1 class="projectName">Weather Todo</h1>
          <ul class="projectDescription">
            <li>This is a iOS app that I built in a couple of weeks to help me learn
              iOS 8 and Swift</li>
            <li>The app is a weather based to do list that is built around the
              Aeris Weather API</li>
            <li>This app could make someone's life easier by elimating the need for
              two seperate apps to schedule their tasks that could be affected by
              the weather</li>
            <li>Tools: Aeris Weather API, Swift, Xcode, GitHub, RealmDB</li>
              <li>Repository: Private</li>
          </ul>
          <h1 class="projectName">Trip Ticket API</h1>
          <ul class="projectDescription">
            <li>Part-time backed web developer for Bluefin Data, Baton Rouge</li>
            <li>Helped build and design a RESTful web API and SQL Database</li>
            <li>Tools: C#, Visual Studio, GitHub, Azure Cloud Services, SQL,
              SQL Managent Studio, Asana, DHC</li>
              <li>Repository: Private</li>
          </ul>
          <h1 class="projectName">Vocales</h1>
          <ul class="projectDescription">
            <li>iOS app made in a small group durnign LSU's iOS Bootcamp in July, 2012</li>
            <li>I mainly contributed UI design ideas and some Objective-C programming</li>
            <li>Tools: Objective-C, Xcode, GitHub</li>
              <li>Repository: Private</li>
          </ul>
          <br><br><br><br>
        </div>
			</div>
		</div>
	</body>
</html>
