<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" type="test/css" href="../stylesheets/css/custom.css">
	  <title>Chester</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 col-sm-12">
          <h1 class="projectTitle">Projects</h1>
          <h1 class="projectName pointer" onclick="location.href='../design/intheloop.html'">
						inTheloop
					</h1>
          <ul class="projectDescription">
            <li>
							<h1 class="projectDescription">
								I starting build this company around 2012, now I'm finally in the production phase of the project.
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Currently I have built a backend to support my future mobile  applications.I plan on have a full functioning iOS app by June, 2015
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								I'm still in the process of building my founding team, so the roles I have played so far include: Backend Developer, iOS Developer, UI/Graphic Designer, and whatever there's a need for!
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Tools: C#, Visual Studio, GitHub, Azure Cloud Services, SQL, SQL Management Studio, Trello, DHC, Justinmind, Pixlr
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Repository: Private
							</h1>
						</li>
          </ul>
          <h1 class="projectName pointer" onclick="location.href='../design/weathertodo.html'">
						Weather Todo
					</h1>
          <ul class="projectDescription">
            <li>
							<h1 class="projectDescription">
								This is an iOS app that I built in a couple of weeks to help me learn iOS 8 and Swift
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								The app is a weather based to do list that is built around the Aeris Weather API
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								This app could make someone's life easier by eliminating the need for two separate apps to schedule their tasks that could be affected by the weather
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Tools: Aeris Weather API, Swift, Xcode, GitHub, RealmDB
							</h1>
						</li>
            <li>
							<h1 class="gitRepo pointer" onclick="location.href='https://github.com/chester357/WeatherTodo-iOS'">
								Repository: github.com/chester357/WeatherTodo-iOS
							</h1>
						</li>
          </ul>
          <h1 class="projectName">Trip Ticket API</h1>
          <ul class="projectDescription">
            <li>
							<h1 class="projectDescription">
								Part-time backed web developer for Bluefin Data, Baton Rouge
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Helped build and design a professional RESTful web API and SQL Database
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Tools: C#, Visual Studio, GitHub, Azure Cloud Services, SQL, SQL Management Studio, Asana, DHC
							</h1>
					</li>
          <li>
						<h1 class="projectDescription">
							Repository: Private
						</h1>
					</li>
          </ul>
          <h1 class="projectName">Vocales</h1>
          <ul class="projectDescription">
            <li>
							<h1 class="projectDescription">
								This iOS app made in a small group during LSU's iOS Bootcamp in July, 2012
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								I mainly contributed UI design ideas and some Objective-C programming
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Tools: Objective-C, Xcode, GitHub
							</h1>
						</li>
						<li>
							<h1 class="gitRepo pointer" onclick="location.href='https://github.com/chester357/Volcales-iOS'">
								Repository: github.com/chester357/Volcales-iOS
							</h1>
						</li>
          </ul>
					<h1 class="projectName">This Website</h1>
          <ul class="projectDescription">
            <li>
							<h1 class="projectDescription">
								Personal website to showcase my projects. You're on it right now!
							</h1>
						</li>
            <li>
							<h1 class="projectDescription">
								Tools: JavaScript, Node.js, HTML, CSS, Bootstrap, Atom Text Editor, GitHub, Heroku
							</h1>
						</li>
						<li>
							<h1 class="gitRepo pointer" onclick="location.href='https://github.com/chester357/PersonalSite'">
								Repository: github.com/chester357/PersonalSite
							</h1>
						</li>
          </ul>
          <br><br><br><br>
        </div>
			</div>
		</div>
	</body>
</html>
